<!DOCTYPE html>
<html ng-app="OpenQAClient">
<head>
  <meta charset="utf-8">
  <title>Simple OpenAQ browser</title>
  <link rel="stylesheet" href="./bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css" media="screen" />
  <link rel="stylesheet" href="./bower_components/leaflet/dist/leaflet.css" type="text/css" media="screen" />
  <script type="text/javascript" src="./bower_components/leaflet/dist/leaflet.js"></script>
  <script type="text/javascript" src="./bower_components/jquery/dist/jquery.min.js"></script>
  <script type="text/javascript" src="./bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-route/angular-route.min.js"></script>
  <script type="text/javascript" src="./bower_components/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
  <script type="text/javascript" src="./bower_components/ui-leaflet/dist/ui-leaflet.min.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
  <!-- <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script> -->
</head>

<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Simple OpenAQ Browser</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav" ng-controller="NavCtrl">
        <li ng-class="{ active: urlLocation.path() == '/cities' }" ng-click="isActive('/cities')"><a href="#/cities">Cities</a></li>
        <li ng-class="{ active: urlLocation.path() == '/countries' }" ng-click="isActive('/countries')"><a href="#/countries">Countries</a></li>
        <li ng-class="{ active: urlLocation.path() == '/latest' }" ng-click="isActive('/latest')"><a href="#/latest">Latest</a></li>
        <li ng-class="{ active: urlLocation.path() == '/locations' }" ng-click="isActive('/locations')"><a href="#/locations">Locations</a></li>
        <li ng-class="{ active: urlLocation.path() == '/measurements' }"><a href="#/measurements">Measurements</a></li>
      </ul>
      <div class="nav navbar-nav navbar-right">
        <li><a href="https://docs.openaq.org/">Docs</a></li>
      </div>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<body>
  <div class="container" ng-view>
  </div>
</body>
</html>
