<form class="" ng-submit="submit()">
  <div class="form-group">
    <form-query-url></form-query-url>
  </div>
  <div class="form-group">
    <select class="form-control" ng-model="country" ng-change="updateUrl('country')">
      <option value="">All countries</option>
      <option ng-repeat="country in countries" value="{{ country.code }}">
        {{ country.name}}
      </option>
    </select>
  </div>
  <div class="form-group">
    <button type="submit" class="btn btn-primary" ng-click="busy = 1">
      <i class="glyphicon glyphicon-refresh"></i>
      Updoot
    </button>
  </div>
</form>
