<form class="form-horizontal" ng-submit="submit()">
  <div class="col-sm-12">
    <form-query-url></form-query-url>
  </div>
  <div class="row">
    <div class="col-sm-4">

      <div class="panel panel-primary">
        <div class="panel-heading">Place</div>
        <div class="panel-body">

          <div class="form-group">
            <label for="country" class="col-sm-4 control-label">Country</label>
            <div class="col-sm-8">
              <select class="form-control"
                      id="country"
                      ng-model="country"
                      ng-change="updateUrl('country'); get_cities()">
                <option value="">All countries</option>
                <option ng-repeat="country in countries" value="{{ country.code }}">
                  {{ country.name }}
                </option>
              </select>
            </div>
          </div><!-- end form-group -->
          
        </div><!-- end panel-body -->
      </div><!-- end panel -->
      <fetch-button></fetch-button>
    </div>
    
    <div class="col-sm-4">
      <pagination-inputs></pagination-inputs>
    </div>
  </div>
  
</form>
