<div class="col-sm-3">
  <label for="page">Coordinates</label>
  <input
     name="page"
     ng-model="coordinates"
     class="form-control"
     placeholder="lat,lon"
     ng-change="updateUrl('coordinates')"/>
  <p class="help-block">Search around this coordinate.</p>
</div>
<div class="col-sm-3">
  <label for="limit">Radius</label>
  <input
     name="limit"
     ng-model="radius"
     class="form-control"
     placeholder="2500"
     type="number"
     ng-change="updateUrl('radius')"
     />
  <p class="help-block">Radius of the circular search area. Should be used with coordinates.</p>
</div>
</label>

