<table class="table table-striped table-bordered">
  <tr>
    <th>timeStarted</th>
    <th>timeEnded</th>
    <th>count</th>
    <th>results</th>
  </tr>
  <tr ng-repeat="result in results">
    <td> {{ result.timeStarted }}</td>
    <td>{{ result.timeEnded }}</td>
    <td>{{ result.count }}</td>
    <td>
      <table class="table table-striped table-bordered table-hover">
        <tr>
          <th>message</th>
          <th>failures</th>
          <th>count</th>
          <th>duration</th>
          <th>sourceName</th>
        </tr>
        <tr ng-repeat="fetchResult in result.results">
          <td>{{ fetchResult.message }}</td>
          <td>{{ fetchResult.failures }}</td>
          <td>{{ fetchResult.count }}</td>
          <td>{{ fetchResult.duration }}</td>
          <td>{{ fetchResult.sourceName }}</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
